@font-face {
  font-family: "Heming";
  src: url("/fonts/Unnamed-Light.eot");
  src: url("/fonts/Unnamed-Light.eot?#iefix") format("embedded-opentype"),
    url("/fonts/Unnamed-Light.woff2") format("woff2"),
    url("/fonts/Unnamed-Light.woff") format("woff"),
    url("/fonts/Unnamed-Light.ttf") format("truetype"),
    url("/fonts/Unnamed-Light.svg#Unnamed-Light") format("svg");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Lexa";
  src: url("/fonts/Lexa.eot");
  src: url("/fonts/Lexa.eot?#iefix") format("embedded-opentype"),
    url("/fonts/Lexa.woff2") format("woff2"),
    url("/fonts/Lexa.woff") format("woff"),
    url("/fonts/Lexa.ttf") format("truetype"),
    url("/fonts/Lexa.svg#Lexa") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Colony";
  src: url("/fonts/TCNewWorthOneTrialVersion-Reg.eot");
  src: url("/fonts/TCNewWorthOneTrialVersion-Reg.eot?#iefix")
      format("embedded-opentype"),
    url("/fonts/TCNewWorthOneTrialVersion-Reg.woff2") format("woff2"),
    url("/fonts/TCNewWorthOneTrialVersion-Reg.woff") format("woff"),
    url("/fonts/TCNewWorthOneTrialVersion-Reg.ttf") format("truetype"),
    url("/fonts/TCNewWorthOneTrialVersion-Reg.svg#TCNewWorthOneTrialVersion-Reg")
      format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

:root {
  --columns: 35;
  --color-text: #fff;
  --color-bg: #000;
  --color-link: #9fdee9;
  --color-link-hover: #fff;
  --cursor-bg: #ffffff;
  --cursor-blend-mode: exclusion;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  overscroll-behavior: none;
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  display: none;
}

html,
body {
  /* overflow: hidden; */
  font-family: Colony;
  color: transparent;
  background-color: rgb(28, 28, 28);
  overflow-x: hidden;
  scrollbar-width: none;
}

body {
  cursor: none;
  overflow: hidden !important;
}

#content {
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
  overflow: -moz-scrollbars-none;
}
#content::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}
::-webkit-scrollbar {
  display: none;
}

.overlay {
  width: 100vw;
  height: 100vh;
  background-color: rgb(28, 28, 28);
  touch-action: none;
  pointer-events: none;
  position: fixed;
  overflow: hidden;
  z-index: 99;
  top: 0;
  left: 0;
  transition: 3s opacity cubic-bezier(0.075, 0.82, 0.165, 1);
}

.loading-progress {
  z-index: 100;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.3rem;
  font-family: Heming;
  font-weight: 100;
  color: #ffffff69;
  transition: opacity 0.5s;
}
.loading-progress-bg {
  z-index: 100;
  position: absolute;
  top: 51%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: opacity 0.5s;
  width: 10rem;
}

.loading-progress-bg img {
  filter: invert(0.65);
}

.loading-bar {
  z-index: 100;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 4px;
  background: #ffffff4f;
  transform: scaleX(0);
  transform-origin: top left;
  transition: transform 0.5s;
  will-change: transform;
}

.loading-progress-bg.ended {
  opacity: 0;
}
.loading-progress.ended {
  opacity: 0;
}
.loading-bar.ended {
  transform-origin: top right;
  transition: transform 1.5s ease-in-out;
}

.indicator {
  position: fixed;
  bottom: 0;
  left: 0px;
  height: 3px;
  width: 0px;
  background-color: rgba(245, 245, 245, 0.812);
}

.indicator-scroll {
  width: 40px;
  position: fixed;
  top: 50%;
  right: 0.25rem;
  color: rgba(245, 245, 245, 0.812);
  font-family: Heming;
  transform: rotate(-90deg);
}

a {
  text-decoration: none; /* Remove underline */
  color: inherit; /* Inherit color from parent element */
  background-color: transparent; /* Remove background color */
  padding: 0; /* Remove padding */
  margin: 0; /* Remove margin */
  border: none; /* Remove border */
  outline: none; /* Remove outline */
}

/**
ThreeJS
*/
.webgl {
  position: fixed;
  top: 0;
  left: 0;
  /* width: 100vw;
  height: 100vh; */
  outline: none;
}

/**
HTML DOM
*/
.section {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  position: relative;
  padding-left: 10%;
  padding-right: 10%;
  /* border: 2px solid white; */
}

/**
Section #1 - Home
*/
.section--one {
  font-size: 100px;
  color: whitesmoke;
  font-weight: lighter;
  opacity: 0.87;
  mix-blend-mode: lighten;
  pointer-events: none;
  filter: invert(10%);
  margin-left: 12vw;
  margin-right: 12vw;
  position: fixed;
}
.letters {
  flex: 1;
  display: flex;
  justify-content: space-evenly;
  text-transform: uppercase;
  display: inline-flex;
  align-items: baseline;
  line-height: 1;
}

.letters > div {
  flex: 1;
  font-size: 8vw;
  text-align: center;
  vertical-align: baseline;
}

.letters div span {
  font-family: Lexa;
  font-size: 7vw;
  vertical-align: baseline;
}

.section--one span {
  /* font-family: Heming;
  font-size: 140px; */
}

/**
Section #2 - Home
*/
.section--two {
  height: 200vw;
  position: relative;
}

@media screen and (max-width: 568px) {
  .section--two {
    height: 600vw;
  }
}

.section--two p {
  color: white;
  font-size: 0.75rem;
  font-family: sans-serif;
  text-transform: uppercase;
  opacity: 0.75;
  text-align: center;
}

.section--two p:nth-child(1) {
  width: 30vw;
  margin: 2rem;
}
.section--two p:nth-child(2) {
  margin: 2rem;
  margin-top: 15rem;
  width: 30vw;
}
.section--two p:nth-child(3) {
  margin: 2rem;
  margin-top: 35rem;
  width: 30vw;
}

.section--two p span {
  font-family: Colony;
  display: block;
  font-size: 4rem;
}

img {
  display: block;
  width: 100%;
}

.grid-container {
  position: absolute;
  bottom: 0;
  opacity: 0.55;
}

.grid-container {
  max-width: 65rem;
  margin: 0 auto;
  padding: 0 10%;
}

.grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  position: relative;
  grid-template-rows: repeat(12, 1fr);
}

.grid__item--bg {
  grid-column: 2 / span 9;
  z-index: 0;
  grid-row: 1 / -1;
}

.grid__item--portrait-half {
  grid-column: 6 / span 6;
  z-index: 2;
  grid-row: 1 / -1;
  clip-path: polygon(
    5% 10%,
    27% 3%,
    94% 25%,
    84% 98%,
    39% 98%,
    11% 98%,
    4% 66%,
    4% 34%
  );
}

.grid__item--portrait-neck {
  clip-path: polygon(5% 3%, 96% 4%, 95% 95%, 6% 95%, 20% 30%);
  grid-column: 5 / span 4;
  grid-row: 6 / 11;
  z-index: 3;
}

.grid__item--portrait-left {
  clip-path: polygon(10% 19%, 93% 15%, 90% 88%, 13% 92%);
  grid-column: 2 / span 4;
  grid-row: 6 / 12;
  z-index: 4;
}

.grid__item--portrait-eye {
  clip-path: polygon(4% 13%, 84% 12%, 86% 34%, 80% 45%, 80% 76%, 10% 79%);
  grid-column: 4 / span 2;
  grid-row: 3 / 5;
  z-index: 5;
  width: 82%;
  justify-self: end;
}

.grid__item--portrait-shirt {
  clip-path: polygon(3% 2%, 50% 25%, 97% 100%, 97% 100%, 3% 98%);
  grid-column: 1 / span 2;
  grid-row: 11 / -1;
  z-index: 6;
}

.grid__item--portrait-bg-1 {
  clip-path: polygon(14% 13%, 84% 12%, 86% 34%, 90% 66%, 30% 76%, 10% 79%);
  grid-column: 1 / span 2;
  grid-row: 1 / 4;
  z-index: 8;
}

.grid__item--portrait-bg-2 {
  clip-path: polygon(9% 4%, 80% 0%, 100% 100%, 0% 100%);
  grid-column: 11 / -1;
  grid-row: 2 / 7;
  z-index: 8;
}

.grid__item--portrait-bg-3 {
  clip-path: polygon(9% 4%, 80% 0%, 100% 100%, 0% 100%);
  grid-column: 1 / span 3;
  grid-row: 4 / 7;
  z-index: 4;
}

.grid__item--portrait-bg-4 {
  clip-path: polygon(5% 4%, 94% 3%, 97% 96%, 13% 96%);
  grid-column: 10 / 12;
  grid-row: 1 / 6;
  z-index: 1;
}

/**
Section #3 - Home
*/
.section--three {
  height: 200vw;
  position: relative;
}

@media screen and (max-width: 568px) {
  .section--three {
    height: 600vw;
  }
}

.section--three p {
  color: white;
  font-size: 0.75rem;
  font-family: sans-serif;
  text-transform: uppercase;
  opacity: 0.75;
  text-align: justify;
}

.section--three p:nth-child(1) {
  width: 40vw;
  margin: 2rem;
}
.section--three p:nth-child(2) {
  margin: 2rem;
  margin-top: 50rem;
  width: 40vw;
}

/**
Section #4 - Home
*/
.section--four {
  height: 150vw;
}

@media screen and (max-width: 568px) {
  .section--four {
    height: 500vw;
  }
}

.section--four p {
  color: white;
  font-size: 0.75rem;
  font-family: sans-serif;
  text-transform: uppercase;
  opacity: 0.75;
  text-align: justify;
  align-self: end;
  margin-bottom: 45vh;
}

.section--four p span {
  display: block;
  font-size: 4rem;
  font-family: Colony;
  align-self: center;
}

/**
Header
*/
.header {
  position: fixed;
  width: calc(100% - 2rem);
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  left: 0;
  top: 1rem;
  margin-left: 1rem;
  margin-right: 1rem;
  color: rgba(245, 245, 245, 0.812);
  pointer-events: auto;
}

@media screen and (max-width: 768px) {
  .contact {
    display: none;
  }
}

/**
Footer
*/
.footer {
  position: fixed;
  display: flex;
  width: calc(100% - 2rem);
  justify-content: space-between;
  bottom: 1rem;
  margin-left: 1rem;
  margin-right: 1rem;
  color: rgba(245, 245, 245, 0.812);
  pointer-events: auto;
}

.header div,
.footer div {
  font-size: 0.9rem;
  font-family: Heming;
  text-transform: uppercase;
}

.header div {
  width: 33.3333%;
}

@media screen and (max-width: 768px) {
  .header div {
    width: 50%;
  }
}

.header div:nth-child(1) {
  text-align: start;
}
.header div:nth-child(2) {
  text-align: center;
}
.header div:nth-child(3) {
  text-align: end;
}

@media screen and (max-width: 768px) {
  .header div:nth-child(2) {
    text-align: end;
  }
}

.text-hover-effect:hover {
  cursor: pointer;
}

/** Cursor
*/
.cursor {
  height: 100%;
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  pointer-events: none;
  z-index: 99;
  mix-blend-mode: var(--cursor-blend-mode);
  --size: calc(100vw / var(--columns));
}

.cursor__inner {
  display: grid;
  grid-template-columns: repeat(var(--columns), var(--size));
}

.cursor__inner-box {
  width: var(--size);
  height: var(--size);
  background: var(--cursor-bg);
  opacity: 0;
  border-radius: var(--cursor-radius);
}
